@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
     rgb(var(--background-end-rgb))
    ),
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  input[type=number].no-spinner::-webkit-inner-spin-button,
  input[type=number].no-spinner::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance:textfield;
  }

  .no-spinner {
    -moz-appearance: textfield;
    appearance: none;
  }

  .grid-lines-50-r {
    background-size: 50px 50px;
    background-position: top left;
    background-image: 
      linear-gradient(to right, theme('colors.neutral.800') 0.05px, transparent 1px),
      linear-gradient(to bottom, theme('colors.neutral.800') 0.05px, transparent 1px);
  }

  .grid-lines-50-l {
    background-size: 50px 50px;
    background-position: top right;
    background-image: 
      linear-gradient(to left, theme('colors.neutral.800') 0.05px, transparent 1px),
      linear-gradient(to bottom, theme('colors.neutral.800') 0.05px, transparent 1px);
  }

  .grid-lines-50-c {
    background-size: 50px 50px;
    background-position: top center;
    background-image:
      linear-gradient(to right, theme('colors.neutral.800') 0.05px, transparent 1px),
      linear-gradient(to left, theme('colors.neutral.800') 0.05px, transparent 1px),
      linear-gradient(to bottom, theme('colors.neutral.800') 0.05px, transparent 1px);
  }

}

input[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 8px;
  background: transparent;
  align-items: middle; 
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #4C4B58;
  cursor: pointer;
  border-radius: 50%;
  outline-width: 2px;
  margin-top: -6px;
}

/* Slider scale customization */
input[type='range']::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #4C4B58;
  cursor: pointer;
  border-radius: 50%;
  outline-width: 2px;
  outline: #ece6ef;
}

input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: #4C4B58;
  border-radius: 5px;
  outline-width: 2px;
  outline: #4C4B58;
}

input[type='range']::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: #4C4B58;
  border-radius: 5px;
  outline-width: 2px;
  outline: #ece6ef;
}



/*scrollbar customization */
* {
  scrollbar-width: auto;
  scrollbar-color:  #ece6ef #4C4B58;
}

.ff-space-adjust {
  font-family: var(--font-Rubik);
  font-variant-ligatures: none;
  letter-spacing: normal;
}

.scrollbar-hidden {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

/* Always show a background scrollbar */
.scroll-always::-webkit-scrollbar {
  overflow-y: scroll; /* Ensure the scrollbar is always there */
}

.force-inline > * {
  display: inline !important;
}